.App {
  text-align: center;
}

.login, .login:hover {
  background-color: orangered !important;
}

.logo {
  font-family:"Oleo Script Swash Caps";
}

.mantra {
  color: darkgray;
}

.spacer {
  height: 3rem;
}

h1 {
  font-size: 5rem;
}